<p id="notice"><%= notice %></p>

<h1>在底下留言吧!</h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>想說的話</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.description %></td>
        <td><%= link_to '細節', topic %></td>
        <td><%= link_to '編輯 ', edit_topic_path(topic) %></td>
        <td><%= link_to '刪除', topic, method: :delete, data: { confirm: '確定刪除這則留言?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '按此新增留言～', new_topic_path %>
